body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
  line-height: 1 !important;
}

textarea {
  background: transparent !important;
  border: none !important;
  resize: none !important;
  color: #000000 !important;
  border-left: 1px solid black !important;
  padding: 10px !important;
}

.jumbotron {
  text-align: center !important;
  background-color: transparent !important;
  color: black !important;
  border-radius: 0 !important;
  border-bottom: 10px solid black !important;
}

.description {
  white-space: pre-wrap !important;
}

.time-block {
  text-align: center !important;
  border-radius: 15px !important;
}

.row {
  white-space: pre-wrap !important;
  height: 80px !important;
  border-top: 1px solid white !important;
}

.hour {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-top: 1px dashed #000000 !important;
}

.past {
  background-color: #d3d3d3 !important;
  color: white !important;
}

.present {
  background-color: #ff6961 !important;
  color: white !important;
}

.future {
  background-color: #77dd77 !important;
  color: white !important;
}

.saveBtn {
  border-left: 1px solid black !important;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  background-color: #06aed5 !important;
  color: white !important;
}

.saveBtn i:hover {
  font-size: 20px !important;
  transition: all 0.3s ease-in-out !important;
}
